/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.router-outlet {
  padding: 2mm;
}

.proplist {
  margin-bottom: 1em;
  border: 1px solid silver;
  display: block;
}

.proplist th, .proplist td {
  text-align: left;
  font-family: monospace;
  vertical-align: top;
}

.btn-job {
  margin-bottom: 1mm;
  min-width: 4cm;
  text-align: left;
}
