/linux-build-later
*/.coverage
*/test-results.xml
/emulator/*.egg-info/
/emulator/build/
/emulator/coverage_html/
/emulator/dist/
/record.txt
/savedir/emulator-linux-test/trace.log
/random.txt
.idea/
date.txt
linux-docker-job
/emulator/pytest-coverage.xml
.temp/