<h5>{{pipeline.filename}}</h5>

<app-vartable [variables]="pipeline.variables" button_text="CI Variables"></app-vartable>

<div class="pipeline-container">
  <table class="table table-light table-sm table-borderless table-job">
    <tr>
      <th *ngFor="let stage of pipeline.stages">
        {{stage}}
      </th>
    </tr>
    <tr>
      <td *ngFor="let stage of pipeline.stages">
        <ng-container *ngFor="let job of pipeline.jobs">
          <ng-container *ngIf="job.stage == stage">
            <button type="button" class="btn btn-primary text-nowrap btn-sm btn-job">
            {{job.name}}
            </button>
            <br/>
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </table>
</div>
