<h5>{{pipeline.filename}}</h5>

<app-vartable [variables]="pipeline.variables" buttonText="CI Variables"></app-vartable>

<div class="pipeline-container">
  <table class="table table-light table-sm table-borderless table-job">
    <tr>
      <th *ngFor="let stage of pipeline.stages">
        {{stage}}
      </th>
    </tr>
    <tr>
      <td *ngFor="let stage of pipeline.stages">
        <ng-container *ngFor="let job of pipeline.jobs|keyvalue">
          <ng-container *ngIf="job.value.stage == stage">
            <app-pipelinejob
              [pipeline]="this"
              [job]="job.value">
            </app-pipelinejob>
            <br/>
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </table>
</div>
