<p>
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample">
    {{buttonText}}
  </button>
</p>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <table class="table table-sm table-hover">
        <tbody>
          <tr *ngFor="let variable of variables | keyvalue">
            <td>{{variable.key}}</td>
            <td>{{variable.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



